* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100vh;
    padding: 2vh;
    margin: 0 auto 1.5rem;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-container.align-center {
    align-items: center;
}

.flex-item {
    flex: 1;
}

.align-right {
    text-align: right;
}
