* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f5f8;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.container {
    max-width: 100vh;
    padding: 2vh;
    margin: 0 auto 1.5rem;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-container.align-center {
    align-items: center;
}

.flex-item {
    flex: 1;
}

.align-right {
    text-align: right;
}

.story {
    background: #fff;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    width: 48%;
    margin: 1%;
    box-sizing: border-box;
}

.story:nth-child(odd) {
    margin-left: 0;
}

.story:nth-child(even) {
    margin-right: 0;
}

.story .title {
    line-height: 1.5;
    margin-bottom: 0.25rem;
}

.story .info {
    margin-bottom: 0.5rem;
    color: #617d98;
}

.story a.text-link {
    font-size: 0.85rem;
    color: #49a6e9;
}
